@model List<WebApp.ViewModels.IncomeVM>

@{
    ViewData["Title"] = "Your incomes";
}
<h1 class="mb-3">Your incomes</h1>

<a class="btn btn-success mb-3" href="@Url.ActionLink("CreateIncome","Income")">
    Add new income
</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Source</th>
            <th>Sum</th>
            <th>Date</th>
            <th>Frequency</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var income in Model)
        {
            <tr>
                <td>
                    @income.Source
                </td>
                <td>@income.Sum</td>
                <td>@income.Date</td>
                <td>@income.Frequency</td>
                <td class="d-flex gap-3">
                    <a class="btn btn-primary" href="@Url.ActionLink("EditIncome", "Income", new { guid = income.Guid })"> Edit </a>
                    <a class="btn btn-danger"
                       href="@Url.ActionLink("DeleteIncome", "Income", new { guid = income.Guid })"
                       onclick="return confirmDelete(event)">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        document.querySelectorAll('.btn-danger').forEach(button => {
            button.addEventListener('click', function (event) {
                event.stopPropagation();
            });
        });

        function confirmDelete(event) {
            if (!confirm("Are you sure you want to delete this income?")) {
                event.preventDefault(); 
                return false;
            }
            return true;
        }
    </script>
}