@model IEnumerable<BudgetVM>

@{
    ViewData["Title"] = "Budgets";
}

<h1>Budgets</h1>

<p>
    <a class="btn btn-success" asp-action="CreateBudget">Create New Budget</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
            <tr onclick="location.href = '@Url.ActionLink("DetailsBudget", "Budget", new { guid = item.Guid })' ">
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td class="d-flex gap-3">
                    <a class="btn btn-primary"
                       href="@Url.ActionLink("EditBudget", "Budget", new { guid = item.Guid })"> Edit </a>
                    <a class="btn btn-danger"
                       href="@Url.ActionLink("DeleteBudget", "Budget", new { guid = item.Guid })"> Delete </a>
                </td>
            </tr>
    }
    </tbody>
</table>
